* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #323a49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100vh;
}

main {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center !important;
}

.box {
  background-color: #4e5d73;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  gap: 1.5rem;
  text-align: center;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 4rem;
  -webkit-box-shadow: 0 0 0 2rem rgba(45, 53, 67, 0.3), 0 0 0 4rem rgba(45, 54, 67, 0.2);
          box-shadow: 0 0 0 2rem rgba(45, 53, 67, 0.3), 0 0 0 4rem rgba(45, 54, 67, 0.2);
}

@media screen and (max-width: 500px) {
  .box {
    max-width: 80%;
  }
}

.divider {
  width: 100%;
}

.divider img {
  width: 100%;
}

.heading {
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #52ffa8;
}

p {
  color: #cee3e9;
  font-size: 1.4rem;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  border-radius: 50%;
  width: 4rem;
  background: #52ffa8;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-transition: -webkit-box-shadow 200ms ease-in-out;
  transition: -webkit-box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
}

.btn:hover {
  -webkit-box-shadow: 0 0 2rem #52ffa8;
          box-shadow: 0 0 2rem #52ffa8;
  cursor: pointer;
}

.loading {
  -webkit-animation: spin 1s ease-in-out infinite;
          animation: spin 1s ease-in-out infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, 50%) rotate(0deg);
            transform: translate(-50%, 50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, 50%) rotate(360deg);
            transform: translate(-50%, 50%) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translate(-50%, 50%) rotate(0deg);
            transform: translate(-50%, 50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, 50%) rotate(360deg);
            transform: translate(-50%, 50%) rotate(360deg);
  }
}

.attribution {
  font-size: 14px;
  color: #cee3e9;
  text-align: center;
}

.attribution a {
  color: #52ffa8;
  text-decoration: none;
  -webkit-transition: text-shadow 200ms;
  transition: text-shadow 200ms;
}

.attribution a:hover {
  text-shadow: 0.1rem 0.1rem #fff6;
}
/*# sourceMappingURL=styles.css.map */